* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

/***************** HEADER *****************/

header {
  display:flex;
  justify-content: space-between;
  background-color: rgb(149, 230, 56);
  align-items: center;
  padding: 5px 10px;
}

.Header .nav-links{
  list-style: none;
  text-decoration: none;
}

.Header .nav-links li{
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
}

.Header .nav-links li:hover{
  transform: scale(1.1);
  text-decoration: none;
}

/***************** CARDS *****************/

div.card_container {
  padding: 70px;
  text-decoration: none;
}

div.action_container {
  padding: 20px 20px 20px 20px;
  display: flex;
  gap: 20px;
}

div.card {
  background-color: rgb(208, 238, 187);
  padding: 70px;
  margin-bottom: 20px;
  border-radius: 25px;
  text-decoration: none;
  color: black;
}

div.card img {
  display: center;
  width: 80%;
  margin: 10px 10px;
}

div.card ul {
  margin: 10px 0 10px 30px;
}

/***************** BUTTONS *****************/

button.btn {
  border: none;
  background-color: rgb(217, 133, 240); 
  padding: 10px 15px;
  border-radius: 25px;
  color: rgb(0, 0, 0); 
  text-decoration: none;
}

button {
  border: none;
  background-color: rgb(50, 244, 111); 
  padding: 5px 5px;
  border-radius: 25px;
  color: rgb(0, 0, 0); 
  text-decoration: none;
}

/***************** FORM *******************/

div.form_container input,
div.form_container label,
div.form_container select {
  display: block;
}

div.form_container input[type='text'],
div.form_container input[type='number'],
div.form_container select {
  border: none;
  border-bottom: 1px solid rgb(0, 151, 201);
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
}

div.form_container {
  padding: 10px 20px;
  margin-top: 20px;
}

div.checkbox_container {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

/***************** SEARCH *****************/

div.search_container {
  padding: 20px 20px 0 20px;
}

div.search_container input[type="text"] {
  border: none;
  border-bottom: 1px solid lightblue;
  width: 100%;
  padding: 5px;
}

ul.nav {
  display: flex;
  padding: 20px;
  gap: 20px;
}

ul.nav {
  list-style-type: none;
}

.nav_link {
  text-decoration: none;
  text-transform: uppercase;
  color: chocolate;
}


div.footer{
  color: rgb(134, 0, 53);
}
.active {
  color: lightskyblue;
  text-decoration: none;
}

div.form-container.button{
  text-decoration: none;
  color: black;
}
